  <aside class="bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Technical Skills</h2>
              </div>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
          </div>
          <div class="row">
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/java-icon.png" alt="">  
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/javascript.png" alt="">          
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/c-icon.jpg" alt="">
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/android-icon.png" alt="">
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/swift-icon.png" alt="">
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/firebase-icon.png" alt="">
              </div>
              <div class="col-lg-2 col-md-2 text-center">
                  <img src="img/technical-skills/github-icon.png" alt="">
              </div>
          </div>
      </div>
  </aside>
