<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Year 3 Computer Science undergraduate of National University of Singapore under the ASEAN scholarship scheme, seeking a position in Software Engineering. Offering experience in Web development, Android and iOS development.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <a href ="resume.pdf" class="btn btn-default btn-xl" target="_blank">Resume</a>
            </div>
        </div>
    </div>
</section>
